<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    
<html>
    <head>
        <title>Datos persona</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Datos persona</div>
        <a th:href="@{/}">Regresar</a>
        
        <form th:action="@{/guardar}" method="post" th:object="${persona}">
            
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" th:field="*{nombre}">
        
        <label for="nombre">Apellido</label>
            <input type="text" name="apellido" th:field="*{apellido}">
        
        
        <label for="nombre">Email</label>
            <input type="email" name="email" th:field="*{email}">
        
        
        <label for="nombre">Telefono</label>
            <input type="text" name="telefono" th:field="*{telefono}">
            
            <input type="submit" name="guardar" value="Guardar">
        
        </form>
            
        </form>
    </body>
</html>
